

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.appbar {
    width: 100%;
    background-color: white;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0 20px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #333; /* Dark color for the menu icon */
    z-index: 1000;
    transition: transform 0.3s ease;
}

.menu-icon.change {
    transform: rotate(45deg);
}

.website-logo img {
    height: 40px; /* Adjust as needed */
    margin-left: 20px; /* Added spacing */
}

.appbar-content {
    padding: 0 10px;
    flex-grow: 1;
}

.appbar-content h1 {
    margin: 0;
    font-size: 24px;
    color: #333; /* Dark color for the appbar content text */
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 15px;
    left: 25px; /* Move close button to the left */
    font-size: 36px;
    cursor: pointer;
    color: #333;
}

.content {
    margin-top: 50px;
    padding: 20px;
    transition: margin-left 0.5s;
    flex-grow: 1;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

